# 默认排除所有文件的统计（包括极其庞大的各种工具、资产、日志）
* linguist-vendored

# 仅精确统计核心代码逻辑
*.rs linguist-detectable=true
*.ts linguist-detectable=true
src/**/*.rs linguist-detectable=true
src/**/*.ts linguist-detectable=true
crates/**/*.rs linguist-detectable=true

# index.html 这种入口文件允许统计，但那些 20MB 的工具文件必须死掉
index.html linguist-detectable=true
tools/msedgedriver/Driver_Notes/credits.html linguist-vendored=true
